@media (min-width: 650px){
    #mobile-menu{
        display: none;
    }

}
@media (max-width: 900px) {
    
    #li-email{
        display: none;
    }
    
    
  }
  @media (max-width: 650px) {

    #lista1{
        display: none;
    }
    #cart-shopping{
        position: absolute;
        top: 18px;
        right: 0;
        margin-right: 3%;
    }
    #nav- {
        padding: 15px 0;
        
    }
    /* Estilos para el ícono de hamburguesa */
.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 30px;
    padding: 5px;
  }
  .hamburger-menu .menu li {
    /* Estilos específicos para los elementos <li> dentro de la lista */
    width: 200px; /* Cambia el ancho a lo que desees */
    margin-top: 10px;
  }
  
  .line {
    width: 100%;
    height: 3px;
    background-color: #333;
  }
  
  /* Estilos para el menú desplegable */
  .menu {
    display: none;
    /* Agrega estilos para el menú */
  }
  
  .open {
    display: block;
  }
  .menu ul li a span {
    display: flex;
    justify-content: space-between;
  }
  .menu-text {
    margin-left: 10%;
    text-decoration: none;
  }
  }